@font-face{
    font-family: BebasNeue;
    src: url('/static/fonts/BebasNeue-Regular.ttf');
    font-weight: normal;
}

h1 {
    font-family: BebasNeue;
    font-size: 50px;
    color: #F1C098;
    text-align: center;
}

h2 {
    font-family: BebasNeue;
    font-size: 30px;
    color: #F1C098;
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

.all_page {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    flex-wrap: wrap;
}

html {
    background-color: #161616;
}

.upload-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.input_file {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    font-family: BebasNeue;
    font-size: 40px;
}

.upload-container input {
    transition: 0.5s;
    display: flex;
    width: 100%;
    border: 2px solid #F1C098;
    background: #161616;
    height: 300px;
    border-style: dashed;
    border-radius: 10px;
    margin-right: 10px;
}

.upload-container input:hover {
    transition: 0.5s;
    background: #c76d23;
    
} 

.upload-container:before {
    /* content: " (or) Drag and Drop files here. "; */
    color: #3f8188;
    font-weight: 900;
}   

.upload-btn {
    padding: 10px;
    background-color: rgb(48, 209, 88);
    border: solid rgb(48, 209, 88);
    color: white;
    font-family: BebasNeue;
    font-size: 20px;
    cursor: pointer;
}

.upload-btn:active {
    background-color: rgb(18, 128, 46);
    border: solid rgb(18, 128, 46);
}


::-webkit-file-upload-button {
    display: none;
}


.description {
    display: flex;
}


.bio {
    display: flex;
    height: 300px;
    width: 100%;
    color: #F1C098;
    font-family: BebasNeue;
    background-color: rgb(22, 22, 22);
    border: solid #F1C098;
    font-size: 20px;
    resize: none;
    outline-color: #F1C098;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
}


.bio2 {
    display: flex;
    height: 200px;
    width: 100%;
    color: #F1C098;
    font-family: BebasNeue;
    background-color: rgb(22, 22, 22);
    border: solid #F1C098;
    font-size: 20px;
    resize: none;
    outline-color: #F1C098;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}














@property --angle {
    
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  
  
  :root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgb(255, 255, 255);
    --c2: #F1C098;
  }
  

  
  .bio:hover {
    font-size: 3vw;
    border: 2px solid #F1C098;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .bio:hover:nth-child(1) {
    border-radius: 10px;
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
  }


  .bio2:hover {
    font-size: 3vw;
    border: 2px solid #F1C098;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .bio2:hover:nth-child(1) {
    border-radius: 10px;
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
  }
  
  
  @keyframes borderRotate {
      100% {
          --angle: 420deg;
      }
  }
  
  @keyframes borderRadial {
    
      20% {
          --gradX: 100%;
          --gradY: 50%;
      }
      40% {
          --gradX: 100%;
          --gradY: 100%;
      }
      60% {
          --gradX: 50%;
          --gradY: 100%;
      }
      80% {
          --gradX: 0%;
          --gradY: 50%;
      }
      100% {
          --gradX: 50%;
          --gradY: 0%;
      }
  }
















  .sign_out{
    position:relative;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign_out input{
    color:white;
    font-family:BebasNeue;
    font-weight:bold;
    font-size:20px;
    text-align: center;
    text-decoration:none;
    background-color:rgb(48, 209, 88);
    display:block;
    position:relative;
    padding:20px 40px;
    width: 200px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 rgb(18, 128, 46), 0 10px 0 rgb(18, 128, 46);
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 rgb(18, 128, 46);
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 rgb(18, 128, 46);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .sign_out input:active{
    top:10px;
    background-color:rgb(18, 128, 46);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 rgb(18, 128, 46);
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 rgb(18, 128, 46);
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 rgb(18, 128, 46);
  }
  
  .sign_out:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:rgb(14, 87, 32);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }